div {
  margin-top: 16px;
}

button {
  color: #772078;
  background-color: rgba(148, 48, 148, 0.2);
  border: 2px solid rgb(148, 48, 148);
  border-radius: 14px;
  padding: 8px 12px;
  margin: 4px;
}
