html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

button.Connect,
button.Vote {
  color: #111;
  font-size: 18px;
  font-weight: bold;
}

button.Connect:hover,
button.Vote:hover {
  filter: brightness(1.1);
}

button.Connect {
  margin: 8px;
  background-color: #d3d3d3;
  border: 2px solid #777;
  border-radius: 28px;
  font-size: 18px;
  padding: 16px 24px;
}

button.Vote {
  background-color: rgba(148, 48, 148, 0.2);
  border: 2px solid rgb(148, 48, 148);
  color: rgb(100, 17, 100);
  border-radius: 14px;
  padding: 8px 12px;
  margin: 4px;
}
